body{
	background-color:#f4f4f4;
	color:#556;
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	line-height:1.6em;
	margin:0;
}

.container{
	width:80%;
	margin:auto;
	overflow:hidden;
}

.container ul{
	width:80%;
	margin:auto;
	overflow:hidden;
	padding-top: 60vh;
}

#ip {
	color: white;
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	font-size: 30px;
	margin-top: 45vh;
	margin-right: 2vw;
}

#kontakt {
	color: white;
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	font-size: 30px;
	margin-top: 45vh;
	margin-right: 2vw;
}

.textcontainer{
	margin:auto;
	overflow:hidden;
	margin-right: 1px;
	padding: auto;
}

#navbar{
	background-color:#333;
	color:#fff;
}

#navbar ul{
	padding:0;
	list-style: none;
	padding-left: 20vw;	
}

#navbar form{
	display: inline;
	margin: auto;
}

#navbar li{
	display: inline;
	padding-left: 1vw;	
}

#navbar li img{
	display: inline;
	padding-right: 1.5vw;	
}

#navbar a{
	color:#fff;
	text-decoration: none;
	font-size:20px;
	padding-right:40px;
}

#showcase{
	background-image:url('../images/pozadie.jpg');
	background-position:center right;
	text-align: center;
	width: 2543px;
	height: 1080px;
}

#showcase h1{
	color:#fff;
	font-size:50px;
	line-height: 1.6;
	padding-top:1.5vw;
}

#main{
	float:left;
	width:70%;
	padding:20px;
	box-sizing: border-box;
	padding-bottom: 25vh;
}

#main h1{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 30px;
}

#main-footer{
	background: #333;
	color:#fff;
	text-align: center;
	padding:30px;
}


#textbar{
	float:left;
	background: #888;
	color:#fff;
	box-sizing: border-box;
	height: 160px;
	width: 500px;
	text-align: center;
	line-height: 23px;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	font-size: 20px;
	margin-right: 1vw;
}


#NadpisNews{
	font-size: 25px;
	text-align:left;
	margin-inline-start: auto;
	padding-top: 14.1vh;
	color:white;
	font-family:Arial, Helvetica, sans-serif;
	line-height: 30px;
	text-align: center;
}

@media only screen and (min-width: 950px) {
	.container {width: 80%;}
	#main {width: 70%;}
	#sidebar {width: 30%;}
	.title-box {width: 100%;}
	.sipky{margin-top: 246vh;}
	#NadpisNews{padding-top: 11.1vh;}
}


@media only screen and (min-width: 1926px) {
	#novinkyF5{margin-top: 0vh;}
	#novinkyH5{margin-top: 0vh;}
	#novinkyB5{margin-top: 0vh;}
	#novinkyH11{margin-top: 0vh;}
	#novinkyF11{margin-top: 0vh;}
	#novinkyH17{margin-top: 0vh;}
}

@media only screen and (min-width: 1944px) {
	.sipky{margin-top: 126vh;}
}





