*{
    padding: 0;
    margin: 0;
}

body{
    display: grid;
    height: 150vh;
}

nav{
    text-align: left;
    padding: 15px 30px;
    color: white;

    @media(max-width: 500px) {
        background-color: #111;
    }

    .logo { 
        float: left;
        width: 5%;
        margin-right: 0%;
        
        @media(max-width: 1700px) {
            width: 11%;
        }

        @media(max-width: 1200px) {
            width: 14%;
        }

        @media(max-width: 900px) {
            width: 16.7%;
        }

        @media(max-width: 600px) {
            width: 20%;
        }

    }

  
    .sidenav {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: #111;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 10vh;

    }

    .sidenav a {
        padding: 4px 4px 4px 16px;
        text-decoration: none;
        color: #818181;
        display: block;
        transition: 0.3s;
        cursor: pointer;
    }

    .sidenav a:link {
        color:rgb(218, 218, 218) ;
    }
    
    .sidenav a:hover {
        color: #fffffff1;
    }
    
    strong{
        color: rgb(243, 243, 243);
    }
      
    .sidenav .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }
      
    @media screen and (max-height: 450px) {
        .sidenav {padding-top: 15px;}
        .sidenav a {font-size: 18px;}
    }

    dl{
        display: grid;
        grid-template-rows: auto auto auto;
        grid-row-gap:5px;
        justify-self: left;
        align-content:start;
  
        dt{
          padding: 0.5%;
          font-size: 1.6em;
          font-weight: bold;
          padding: 10px 20px;
          text-shadow: 2px 2px 4px #645656;
        } 
      
      dd a{
        display: block;
        font-size: 1.3em;
        font-weight: bold;
        margin-left: 30%;
        text-align: left;
        text-decoration: none;
        text-shadow: 2px 2px 4px #851111;
          &:hover{
            color: orange;
           }  
        }  
      }
    
      
   
}

.video{
    height: 90.5vh;
    width: 100%;
    display: block;
    background-image: url('/poster.jpg');


    .pozadie{
        position: fixed;
        right: 0;
        bottom: 0;
        z-index: -1;
        width: 100%;
    }

    @media(max-aspect-ratio: 16/9){
        .pozadie{
            width:auto;
            height: 100%;
        }
    }

    .nadpis{
        text-align: center;
        margin-top: 20vh;
        font-family: Creepster;
    }
    .nadpis h1{
        font-size: 7.8em;
        color: rgb(231, 231, 231);
        font-weight: 600;
        transition: 0.5s;
        cursor:pointer;
        
        @media(max-width: 500px) {
            font-size: 5em;
        }

        @media(max-width: 330px) {
            font-size: 4em;
        }

        @media(max-width: 270px) {
            font-size: 2em;
        }


    }

    .nadpis h1:hover{
        -webkit-text-stroke: 2px #fff;
        color: transparent;
    }
    .nadpis a{
        text-decoration: none;
        display: inline-block;
        color: #fff;
        font-size: 2.2em;
        padding: 14px 70px;
        margin-top: 20px;
        font-family: none;
        cursor: default;

        @media(max-width: 500px) {
            font-size: 2em;
        }

        @media(max-width: 330px) {
            font-size: 1.5em;
        }

        @media(max-width: 270px) {
            font-size: 1em;
        }
    }

    .nadpis a:hover{
        -webkit-text-stroke: 0.5px rgba(255, 255, 255, 0.794);
    }
}

article {
    background-image: linear-gradient( rgb(31, 31, 31) , rgb(49, 48, 48));
    .cards {
        grid-gap: 3px;
        display: grid;
    
        @media(min-width: 330px) {
            grid-template-columns: repeat(1, auto);
        }
    
        @media(min-width: 800px) {
            grid-template-columns: repeat(2, auto);
        }
    
        @media(min-width: 1500px) {
            grid-template-columns: repeat(3, auto);
        }
    
        .card {
            text-align: center;
            color: #fff;
            border-radius: 5px;
            font-size: 2em;
            margin-top: 8vh;

            img{
                width: 40%;
            }

            p {
                font-size: 0.8em;
                font-family: Indie Flower;
            }
    
            @media(min-width: 800px) {
                padding: 50px;
            }
        
            @media(min-width: 1500px) {
                padding: 100px;
            }
        }
    }
}

footer{
    background-color: rgb(37, 37, 37);
    text-align: center;
    color: rgb(167, 167, 167);
    padding: 7px;
    
}

